@import '../global-mixins.pcss';

.default-page.text-content {
  .inner {
    .block-title {
      font-family: Lato;
      font-style: bold;
      font-weight: 300;
      font-size: 30px;
      line-height: 22px;
      color: #fff;
      text-transform: uppercase;
      margin-top: 70px;
      margin-bottom: 40px;
    }

    .text {
      color: #fff;
      margin-bottom: 50px;
      font-size: 18px;

      li {
        margin-bottom: 10px;
        margin-top: 10px;
      }

      a {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
      }
    }
  }
}
