---
bodyclass: contact-page
title: Contact page
---

<section class="section-contact-page">
  <div class="inner">
    <div class="col">
        <h1 class="title">Contact us today and treat yourself to one of our salon services</h1>
        <div class="phone">
            <p class="tel">Phone</p>
            <a href="tel:972-439-4472">972-439-4472</a>
        </div>
        <div class="address">
            <p class="adds">Address</p>
            <p>8837 Lebanon Rd., #500, Frisco, TX 75034</p>
        </div>
        <div class="btn-holder">
          <div class="btn">
            <a href="#">Book an Appointment</a>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="image">
        <img src="{{root}}images/contact-page.png" alt="" />
      </div> 
    </div>
  </div>
</section>

<section class="section-prefooter contact-prefooter">
  <p class="author"> Coco Chanel </p>
  <h2 class="quote"> The best color in the whole world is the one that looks good on you. </h2>
  <div class="text">
    <p>Specializing in lived-in color and known for providing his clients with classic Californian blonde and sought-after natural and sun-kissed color, Chance Charles travels coast to coast to work with clients in Frisco, Texas, and Los Angeles.</p>
    <div class="license">
      <p>Chance Charles is licensed in California and Texas.</p>
    </div>
  </div>
  <ul class="soc-links">
    <li class="insta"> <a href="#"><img src="{{root}}images/soc-insta.png" alt="Instagram" /></a> </li>
    <li class="linkedin"> <a href="#"><img src="{{root}}images/soc-linkedin.png" alt="LinkedIn" /></a> </li>
  </ul>
</section>


