{{!-- mobile menu section block --}}
<aside class="menu-wrap" aria-hidden="true">

  <div class="logo">
      <img src="{{root}}images/logo.png" alt="">
  </div>

  <ul class="mobile-nav">
    <li> <a href="{{root}}services.html"> Services </a></li>
    <li> <a href="{{root}}about.html"> About </a> </li>
    <li> <a href="#"> Meet the Team </a> </li>
    <li> <a href="#"> Blog </a></li>
    <li> <a href="{{root}}contact.html"> Contact </a></li>
  </ul>

  <ul class="second-nav">
    <li class="phone-link"> <a href="tel:818-738-5122"> 818-738-5122 </a> </li>
    <li class="btn default"> 
        <a href="#"> Book an Appointment </a>
    </li>
    <li class="btn mobile"> 
        <a href="#"> Book </a>
    </li>
  </ul>

  <button class="close-button" id="close-button"><span class="screen-reader-text">Close</span></button>
</aside>
